<div class="main-content_wrapper">
    <div class="single-product_display">
            <div class="single-product_image">
                <img src="/images/{{thumbnail}}">
            </div>
            <div class="single-product_details">
                <a class="single-product_category" href="/products?q={{category}}">{{category}}</a>
                <span class="single-product_name">{{name}}</span>
                <span class="single-product_price">${{price}}</span>
                <span class="single-product_description">{{description}}.</span>
                <span class="single-product_quatity">Quanity: {{quantity}}</span>
                
            </div>
    </div>

</div>